.app-title {
    margin: 0 0 20px;
    text-align: center;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app-header {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.7);
}

.app-nav {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding: 10px 30px;
}

.app-nav__link {
    margin-right: 50px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    text-transform: uppercase;
}

.app-nav__link:hover {
    color: rgba(0, 0, 0, 0.7);
}

.app-nav__link--active {
    color: #000;
}

.app-main {
    flex: auto;
    padding: 20px 0;
}

.app-logo {
    width: 70px;
    height: 63px;
}

.logout {
    font-size: 18px;
    background-color: #000;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: all 300ms linear;
}

.logout:hover {
    background-color: #fff;
    border-color: #7a6898;
    color: #7a6898;
}

@media (max-width: 650px) {

}


